body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

header{
    background-color: #ffd829;
    color: white;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.header-margin{
    margin: 0 20px;
}

h1{
    color: #000;
}

/* HEADER LIST */
nav ul{
    list-style: none;
}

.lista{
    a{
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }
}

/* LOGO */
.logo{
    object-fit: cover;
    height: 50px;
    img{
        width: 100%;
        height: 100%;
    }
}

/* MARGIN, FLEX AND GAP */
.flex{
    display: flex;
}

.between{
    justify-content: space-between;
}

.gap-20{
    gap: 20px
}

.gap-40{
    gap: 40px;
}

.center{
    align-items: center;
}