body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #9c9b9b81;
    display: block; 
}

header {
    background-color: #000000d0;
    width: 100%;
    padding: 10px 0;
}
/* background-color: #ffd829; */

.header-margin{
    margin: 0 20px;
}

h1{
    color: #ffd829;
}

/* HEADER LIST */
nav ul{
    list-style: none;
}

.lista{
    a{
        text-decoration: none;
        color: #ffd829;
        font-weight: bold;
    }
}

/* LOGO */
.logo{
    object-fit: cover;
    height: 50px;
    img{
        width: 100%;
        height: 100%;
    }
}

/* MARGIN, FLEX AND GAP */
.flex{
    display: flex;
}

.between{
    justify-content: space-between;
}

.gap-20{
    gap: 20px
}

.gap-40{
    gap: 40px;
}

.center{
    align-items: center;
}

.contenido{
    gap: 500px;
}

.game-link img{
    width: 550px;
    height: 300px;
    margin-left: 500px;
}

a{
    text-decoration:none;
    color: white;
}

.content {
    background-color: #000000b2;
    color: #fff;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 15px 40px; 
    border-radius: 50px; 
}

.absolute-joc {
    position: absolute;
    top: 750px; 
    left: 50%;
    margin-left: -300px; 
}

.absolute-content {
    position: absolute;
    top: 750px; 
    left: 50%;
    margin-left: 100px;
}

.content {
    transition: color 0.3s ease, transform 0.2s ease;

}

.content:hover {
    background-color: #ffd829c7;
    color: black;
}

.absolute-content:hover {
    background-color: #ffd829c7;
    color: black;
}

.absolute-joc:hover {
    background-color: #ffd829c7;
    color: black;
}

.content:hover {
    color: black;
    background-color: #ffd829c7;
    transform: scale(1.1);
}

.racc {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 700px;
    width: auto;
    box-shadow: rgba(255, 255, 255, 0.486) 10px 20px 20px;
}
.contenedor {
    width: 1400px;
    margin: 0 auto;
    position: relative;
}

.pas-a-pas {
    margin-top: 20px;
    margin-bottom: 20px;
}